.about-hero-container {
    height: 500px;
}
.about-hero-background {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    /* height: 500px; */
    /* height: inherit !important; */
    max-width: 100%;
    /* background-color: linear-gradient(to right, #010002 0%, #231e25 50%, #6f5c61 75%, #836867 100%); */
    /* background: url('/assets/images/about/about.jpg'), linear-gradient(to right, #010002 0%, #231e25 50%, #6f5c61 75%, #836867 100%); */
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-hero-content {
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    height: 500px;
}
.about {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.about-name {
    font-size: 36px;
    margin: 12px 0;
    display: block;
}

.about-content-container {
    margin: auto;
    display: table;
    max-width: 50%;
    margin: 48px auto;
}

.about-content {
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.5em;
    text-transform: none;
}

/* FOR DIFFERENT SECTIONS */
/* .about-content-type-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 64px;
}

.content-type {
    font-size: 24px;
    min-width: 200px;
    max-width: 200px;
}
.content {
    margin: 12px 0;
} */