<footer [ngClass]="noContainer ? '' : 'main-container' ">
  <div>
    <a href="https://web.facebook.com/mayoljonathan.ph" target="_blank" rel="noreferrer noopener">
      <picture>
        <source srcset="./assets/icons/facebook.webp" alt="Facebook" class="social-icon" type="image/webp">
        <img src="./assets/icons/facebook.png" alt="Facebook" class="social-icon">
      </picture>
    </a>
    <a href="https://github.com/mayoljonathan" target="_blank" rel="noreferrer noopener">
      <picture>
        <source srcset="./assets/icons/github.webp" alt="GitHub" class="social-icon" type="image/webp">
        <img src="./assets/icons/github.png" alt="GitHub" class="social-icon">
      </picture>
    </a>
    <a href="https://www.linkedin.com/in/jonathan-jay-mayol-00a373141/" target="_blank" rel="noreferrer noopener">
      <picture>
        <source srcset="./assets/icons/linkedin.webp" alt="LinkedIn" class="social-icon" type="image/webp">
        <img src="./assets/icons/linkedin.png" alt="LinkedIn" class="social-icon">
      </picture>
    </a>
  </div>
  
  <p>© 2018 Jonathan Jay Mayol</p>
</footer>